<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d9e623f2f.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-y-barra-busqueda">
            <div class="div-imagenML">
                <img src='/images/logo-mercado-liebre.svg' class="imagenML">
                <img src='/images/logo-mercado-liebre.svg' class="imagenML-fixed">
            </div>
            <div class="div-barra-busqueda">
                <input type="text" placeholder="   Buscar productos, marcas.." name="search" class="barra-busqueda">
                </input>
                <button class="lupa-busqueda"> <i class="fa fa-search"></i> </button>
            </div>
        </div>
        <div>
            <h3 class="mensaje-bienvenida"> <i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de
                credito</h3>
        </div>
        <div class="navegacion-general-y-cuenta">
            <nav class="navbar-general">
                <a href="#" class="hipervinculo"> Ofertas <i class="fa-solid fa-cart-arrow-down"></i> <i class="fa-solid fa-bell fa-shake"></i> </a>
                <a href="#" class="hipervinculo"> Tiendas oficiales <i class="fa-solid fa-shop"></i> </a>
                <a href="#" class="hipervinculo"> Vender <i class="fa-solid fa-sack-dollar"></i> </a>
                <a href="#" class="hipervinculo"> Ayuda <i class="fa-solid fa-circle-info"></i> </a>
            </nav>

            <nav class="navbar-cuenta">
                <a href="#" class="hipervinculo"> Creá tu cuenta <i class="far fa-id-card"></i> </a>
                <a href="#" class="hipervinculo"> Ingresá <i class="fas fa-sign-in-alt"> </i> </a>
                <a href="#"class="hipervinculo"> Mis compras <i class="fas fa-shopping-basket"> </i> </a> <br> <br>
            </nav>
        </div>
        <div class="hambur">
            <i class="fa-solid fa-bars menu-hamburguesa"> </i>
        </div>
    </header>

    <div>
        <img src="\images\img-home-banner.jpg" class="banner">
    </div>

    <main>
        <div>
            <h2 class="titulo-ultima-visita">Basado en tu última visita </h2>
        </div>
        <section class="contenedor-productos">
            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> Cafetera Moulinex </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $25.900 </h3>
                        <h3 class="dto"> 30% OFF </h3>
                    </div>
                </div>
            </article>

            <article class="producto">
                <img src='/images/img-macbook-pro-2019.jpg' class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> MacBook </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $265.000 </h3>
                        <h3 class="dto"> 15% OFF </h3>
                    </div>
                </div>
            </article>

            <article class="producto">
                <img src='/images/img-samsung-galaxy-s10.jpg' class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> Samsung Galaxy S10 </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $184.000 </h3>
                        <h3 class="dto"> 20% OFF </h3>
                    </div>
                </div>
            </article>

            <article class="producto">
                <img src='/images/img-tv-samsung-smart.jpg' class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> Samsung Smart TV 40" </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $320.000 </h3>
                        <h3 class="dto"> 25% OFF </h3>
                    </div>
                </div>
            </article>
        </section>

        <div>
            <h2 class="titulo-ofertas">Sección de ofertas </h2>
        </div>
        <section class="contenedor-productos">
            <article class="producto">
                <img src='/images/img-samsung-galaxy-s10.jpg' class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> Samsung Galaxy S10 </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $184.000 </h3>
                        <h3 class="dto"> 20% OFF </h3>
                    </div>
                </div>
            </article>

            <article class="producto">
                <img src='/images/img-tv-samsung-smart.jpg' class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> Samsung Smart TV 40" </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $320.000 </h3>
                        <h3 class="dto"> 25% OFF </h3>
                    </div>
                </div>
            </article>

            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> Cafetera Moulinex </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $25.900 </h3>
                        <h3 class="dto"> 30% OFF </h3>
                    </div>
                </div>
            </article>

            <article class="producto">
                <img src='/images/img-macbook-pro-2019.jpg' class="imagenProductos">
                <div class="descripcion-producto">
                    <h3 class="nombre-producto"> MacBook </h3>
                    <i class="fas fa-truck logo-envio"></i>
                    <div class="precio-dto">
                        <h3 class="precio"> $265.000 </h3>
                        <h3 class="dto"> 15% OFF </h3>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
            <div class="div-iconos-footer">
                <i class="icono-footer fas fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo </h3>
                <p> Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                    es
                    seguro!</p>
            </div>
            <div class="div-iconos-footer">
                <i class="icono-footer fas fa-gift"></i>
                <h3> Envío gratis desde los $5000</h3>
                <p> Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de Mercado Puntos </p>
            </div>
            <div class="div-iconos-footer"> 
                <i class="icono-footer fas fa-user-shield"></i>
                <h3> Seguridad de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre
                    protegid@ </p>
            </div>
            
    </footer>

    <div class="copyright">
        <p> Copyright © 1999-2022 MercadoLiebre S.R.L</p>
    </div>
</body>

</html>