<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css"> <link>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d9e623f2f.js" crossorigin="anonymous"></script>
    <title> Mercado Liebre - Log in </title>
</head>

<body>
    <header>
        <div class="logo-y-barra-busqueda">
            <div class="div-imagenML">
                <img src='/images/logo-mercado-liebre.svg' class="imagenML">
                <img src='/images/logo-mercado-liebre.svg' class="imagenML-fixed">
            </div>
            <div class="div-barra-busqueda">
                <input type="text" placeholder="   Buscar productos, marcas.." name="search" class="barra-busqueda">
                </input>
                <button class="lupa-busqueda"> <i class="fa fa-search"></i> </button>
            </div>
        </div>
        <div>
            <h3 class="mensaje-bienvenida"> <i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de
                credito</h3>
        </div>
        <div class="navegacion-general-y-cuenta">
            <nav class="navbar-general">
                <a href="#" class="hipervinculo"> Ofertas <i class="fa-solid fa-cart-arrow-down"></i> <i
                        class="fa-solid fa-bell fa-shake"></i> </a>
                <a href="#" class="hipervinculo"> Tiendas oficiales <i class="fa-solid fa-shop"></i> </a>
                <a href="#" class="hipervinculo"> Vender <i class="fa-solid fa-sack-dollar"></i> </a>
                <a href="#" class="hipervinculo"> Ayuda <i class="fa-solid fa-circle-info"></i> </a>
            </nav>

            <nav class="navbar-cuenta">
                <a href="#" class="hipervinculo"> Creá tu cuenta <i class="far fa-id-card"></i> </a>
                <a href="#" class="hipervinculo"> Ingresá <i class="fas fa-sign-in-alt"> </i> </a>
                <a href="#" class="hipervinculo"> Mis compras <i class="fas fa-shopping-basket"> </i> </a> <br> <br>
            </nav>
        </div>
        <div class="hambur">
            <i class="fa-solid fa-bars menu-hamburguesa"> </i>
        </div>
        </div>
    </header>

    <main class="contenedor-formulario">
        <form action="/login" method="POST" class="formulario">
            <div class="div-label">
                <label for="user" name="login" class="label"></label>
                <input type="text" minlength="8" placeholder=" Nombre de usuario">
            </div>

            <div class="div-label">
                <label for="pass" name="login" class="label"></label>
                <input type="password" required="required" placeholder=" Ingresá tu contraseña" minlength="8">
            </div>

            <div class="div-boton-enviar">
                <button type="submit" class="boton-ingresar">Ingresar</button>
            </div>

        </form>

    </main>
    <footer class="footer">
            <div class="div-iconos-footer">
                <i class="icono-footer fas fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo </h3>
                <p> Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                    es
                    seguro!</p>
            </div>
            <div class="div-iconos-footer">
                <i class="icono-footer fas fa-gift"></i>
                <h3> Envío gratis desde los $5000</h3>
                <p> Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de Mercado Puntos </p>
            </div>
            <div class="div-iconos-footer">
                <i class="icono-footer fas fa-user-shield"></i>
                <h3> Seguridad de principio a fin </h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre
                    protegid@ </p>
            </div>
    </footer>
    <div class="copyright">
        <P> Copiright © 1999-2022 MercadoLiebre S.R.L</P>
    </div>
</body>

</html>